ETL_KAFKA_CLICKHOUSE_SERVICE_NAME=ETL Kafka ClickHouse service
ETL_KAFKA_CLICKHOUSE_SERVICE_DESCRIPTION=ETL Kafka ClickHouse service for media streaming platform


# Logging configuration
ETL_KAFKA_CLICKHOUSE_LOG_LEVEL=INFO
ETL_KAFKA_CLICKHOUSE_LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s
ETL_KAFKA_CLICKHOUSE_LOG_NAME=etl_kafka_clickhouse

# ClickHouse configuration
CLICKHOUSE_DEFAULT_USER=default
CLICKHOUSE_DEFAULT_PASSWORD=change_me_default_password

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=9000
CLICKHOUSE_DATABASE=events
CLICKHOUSE_TABLE=user_events
CLICKHOUSE_CLUSTER_NAME=company_cluster
CLICKHOUSE_LOCAL_DATABASE=shard
CLICKHOUSE_SHARDING_KEY=cityHash64(user_id)


# Kafka connection details
KAFKA_BOOTSTRAP_SERVERS='["kafka-0:9092","kafka-1:9092","kafka-2:9092"]'
KAFKA_API_VERSION='[3, 4]'
KAFKA_TOPIC=events

# Kafka consumer configuration
ETL_KAFKA_CLICKHOUSE_GROUP_ID=etl-kafka-clickhouse-group
ETL_KAFKA_CLICKHOUSE_AUTO_OFFSET_RESET=earliest
ETL_KAFKA_CLICKHOUSE_MAX_EXTRACT_BATCH_SIZE=100
ETL_KAFKA_CLICKHOUSE_POLL_TIMEOUT_MS=1000

# ClickHouse load configuration
ETL_KAFKA_CLICKHOUSE_MIN_LOAD_BATCH_SIZE=1000
ETL_KAFKA_CLICKHOUSE_BATCH_MAX_WAIT_SECONDS=5.0
ETL_KAFKA_CLICKHOUSE_IDLE_SLEEP_SECONDS=1.0
ETL_KAFKA_CLICKHOUSE_INSERT_MAX_RETRIES=3
ETL_KAFKA_CLICKHOUSE_INSERT_RETRY_BACKOFF_SECONDS=1.0
