PROJECT_NAME="Movie theater"
PROJECT_DESCRIPTION="The best movie theater for everyone"

DEVELOPMENT_MODE=False

SECRET_KEY=django-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

AUTH_API_LOGIN_URL=http://movies-auth:8000/api/v1/auth/api-login

# Postgres connection details
POSTGRES_DB=movies_database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123qwe
SQL_HOST=movies-db
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content

BATCH_SIZE=10

# Elasticsearch connection details
ES_HOST=movies-elasticsearch
ES_PORT=9200
ES_USER=elastic
ES_PASSWORD=changeme

# Redis connection details
REDIS_HOST=movies-redis
REDIS_PORT=6379
REDIS_DB=0

# Tracing exporter (OTLP/HTTP)
OTEL_TRACES_ENDPOINT=http://jaeger:4318/v1/traces
OTEL_CONSOLE_EXPORT_ENABLED=False

# Logging configuration
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s
LOG_NAME=etl_postgres_to_elastic