PROJECT_NAME="Movie theater"
PROJECT_DESCRIPTION="The best movie theater for everyone"

SECRET_KEY=django-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Postgres connection details
POSTGRES_DB=movies_database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123qwe
SQL_HOST=movies-db
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content

POSTGRES_BATCH_SIZE=10

# Elasticsearch connection details
ES_HOST=movies-elasticsearch
ES_PORT=9200
ES_USER=elastic
ES_PASSWORD=changeme
ES_SCHEMA_NAME=movies
ES_SCHEMA_FILE=es_schema.json

# Redis connection details
REDIS_HOST=movies-redis
REDIS_PORT=6379
REDIS_DB=0

# Logging configuration
LOG_LEVEL=INFO
LOG_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(message)s
LOG_NAME=etl_postgres_to_elastic