PROJECT_NAME="Movie theater"
PROJECT_DESCRIPTION="The best movie theater for everyone"

SECRET_KEY=secret-key-for-development-only-change-before-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=movies_database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123qwe

SQL_HOST=localhost
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content

AUTH_API_LOGIN_URL=http://localhost:8000/api/v1/auth/api-login