# SQLite path
DONOR_DB_PATH=db.sqlite

# Postgres connection details
RECIPIENT_DB_NAME=movies_database
RECIPIENT_DB_USER=postgres
RECIPIENT_DB_PASSWORD=password
RECIPIENT_DB_HOST=localhost
RECIPIENT_DB_PORT=6543