EVENT_INGEST_SERVICE_NAME=Event Ingest Service
EVENT_INGEST_SERVICE_DESCRIPTION=Event Ingest service for the Movies Streaming Platform
EVENT_INGEST_MAX_CONTENT_LENGTH=1048576 # 1 MB

DEBUG=True

AUTHJWT_SECRET_KEY=your_secret_key_more_than_32_characters_long
AUTHJWT_ALGORITHM=HS256

KAFKA_BOOTSTRAP_SERVERS='["localhost:9094"]'
KAFKA_API_VERSION='[3, 4]'
KAFKA_REQUEST_TIMEOUT_MS=30000
KAFKA_ACKS=all
KAFKA_RETRIES=3
KAFKA_TOPIC=events

SENTRY_DSN=