REDIS_HOST=test-redis
REDIS_PORT=6379

ES_SCHEMA=http://
ES_HOST=test-elasticsearch
ES_PORT=9200
ES_INDEX=movies
ES_DISCOVERY_TYPE=single-node
ES_JAVA_OPTS=-Xms512m -Xmx512m
ES_XPACK_SECURITY_ENABLED=false

SERVICE_URL=http://test-fastapi:8000

AUTHJWT_SECRET_KEY=test-authjwt-secret-key-more-than-32
AUTHJWT_ALGORITHM=HS256
SUBSCRIBER_ROLE_NAME=subscriber
ADMIN_ROLE_NAME=admin

PYTHONPATH=/