DEVELOPMENT_MODE=true

POSTGRES_DB=billing_database
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB_SCHEMA=billing

SQL_HOST=127.0.0.1
SQL_PORT=5432
SQL_ECHO=false

CORS_ORIGINS=["http://localhost:3000"]

STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
